# requirements.txt

# Core de la Aplicación Web
Flask==3.0.3

# Hashing de Contraseñas
bcrypt==4.1.2

# Conexión con la Base de Datos MySQL
Flask-MySQLdb==2.0.0
mysqlclient==2.2.4

# Gestión de Formularios y Seguridad
Flask-WTF==1.2.1
WTForms==3.1.2
email_validator==2.2.0  # Dependencia de WTForms para la validación de correos

# Gestión de Sesiones de Usuario
Flask-Login==0.6.3

# Generación de Reportes en PDF
WeasyPrint==62.3

# Carga de Variables de Entorno (.env)
python-dotenv==1.0.1

# Servidor de Producción WSGI (Recomendado para el despliegue)
gunicorn==22.0.0

# Dependencias automáticas de las librerías anteriores
# Es bueno tenerlas explícitas para asegurar la reproducibilidad
blinker==1.8.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cssselect2==0.7.0
dnspython==2.6.1
html5lib==1.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pydantic==2.8.2
pydantic-core==2.20.1
pycparser==2.22
pyphen==0.15.0
requests==2.32.3
six==1.16.0
soupsieve==2.5
tinycss2==1.3.0
urllib3==2.2.2
webencodings==0.5.1
Werkzeug==3.0.3
zopfli==0.2.3