<!-- src/templates/admin_ver_datos_personal.html -->

{% extends './base.html' %}

{% block title %}Datos del Personal{% endblock %}

{% block customCSS %}
<!-- CSS específico para la página de inicio -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Formularios.css') }}">
{% endblock %}
{% block body %}


<div class="container mt-4">
    <h1 class="h3 mb-4 text-center">Datos del Personal</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Codigo UNA</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Móvil</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user[9] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }} {{ user[5] }}</td>
                <td>{{ user[6] }}</td>
                <td>{{ user[7] }}</td>
                <td>{{ user[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
