<!-- templates/editar_cargosdirectivos.html -->

{% extends './base.html' %}

{% block title %}Editar Cargo Directivo{% endblock %}

{% block customCSS %}
<!-- CSS específico para la página de Editar Cargo Directivo -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Formularios.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-5 pt-5">
    <h1 class="h3 mb-4 text-center">Editar Cargo Directivo</h1>

    <!-- Formulario para editar el cargo directivo -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <!-- Cargo -->
        <div class="mb-3">
            {{ form.cargo.label(class="form-label") }}
            {{ form.cargo(class="form-control", maxlength="100") }}
            {% for error in form.cargo.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Años en el Cargo -->
        <div class="mb-3">
            {{ form.anios.label(class="form-label") }}
            {{ form.anios(class="form-control") }}
            {% for error in form.anios.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Descripción -->
        <div class="mb-3">
            {{ form.descripcion.label(class="form-label") }}
            {{ form.descripcion(class="form-control", maxlength="255") }}
            {% for error in form.descripcion.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Archivo Actual -->
        {% if cargo.ruta_imagen %}
        <div class="mb-3">
            <label class="form-label">Archivo Actual:</label><br>
            {% if cargo.categoria == 'imagen' %}
                <img src="{{ url_for('uploaded_file', filename=cargo.ruta_imagen) }}" alt="Imagen Actual" style="max-width: 200px;">
            {% elif cargo.categoria == 'pdf' %}
                <a href="{{ url_for('uploaded_file', filename=cargo.ruta_imagen) }}" target="_blank">Ver PDF</a>
            {% endif %}
        </div>
        {% endif %}

        <!-- Archivo -->
        <div class="mb-3">
            {{ form.archivo.label(class="form-label") }}
            {{ form.archivo(class="form-control") }}
            {% for error in form.archivo.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}
