{% extends './base.html' %}

{% block title %}Editar Grado/Título{% endblock %}

{% block customCSS %}
<!-- CSS específico para la página de inicio -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Formularios.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="h3 mb-4 text-center">Editar Grado/Título</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" value="{{ titulo[2] }}" required>
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select" id="tipo" name="tipo" required>
                <option value="{{ titulo[3] }}">{{ titulo[3] }}</option>
                <option value="Título Profesional">Título Profesional</option>
                <option value="Título de Segunda Especialidad">Título de Segunda Especialidad</option>
                <option value="Especialidad Médica">Especialidad Médica</option>
                <option value="Maestría Profesional">Maestría Profesional</option>
                <option value="Maestría en Ciencias">Maestría en Ciencias</option>
                <option value="Doctorado">Doctorado</option>
                <option value="Ph.D.">Ph.D.</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <select class="form-select" id="pais" name="pais" required>
                <option value="">Seleccione un país</option>
            </select>
        </div>
        
        <script>
            fetch('https://restcountries.com/v3.1/all')
                .then(response => response.json())
                .then(data => {
                    const selectPais = document.getElementById('pais');
                    // Ordenar los países alfabéticamente
                    data.sort((a, b) => a.name.common.localeCompare(b.name.common));
                    data.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country.name.common;
                        option.textContent = country.name.common;
                        selectPais.appendChild(option);
                    });
                })
                .catch(error => console.error('Error al cargar la lista de países:', error));
        </script>

<!-- Campo de selección de universidad (inicialmente visible solo si el país es Perú) -->
<div class="mb-3" id="universidad-container" style="display: none;">
    <label for="universidad" class="form-label">Universidad</label>
    <select class="form-select" id="universidad" name="universidad">
        <option value="">Seleccione una universidad</option>
        <option value="Universidad Nacional Mayor de San Marcos">Universidad Nacional Mayor de San Marcos</option>
        <option value="Pontificia Universidad Católica del Perú">Pontificia Universidad Católica del Perú</option>
        <option value="Universidad Nacional de Ingeniería">Universidad Nacional de Ingeniería</option>
        <option value="Universidad Nacional del Altiplano">Universidad Nacional del Altiplano</option>
        <!-- ... resto de universidades de Perú ... -->
        <option value="Otra">Otra</option>
    </select>
</div>

<!-- Campo para ingresar la universidad manualmente (visible si el país no es Perú o si se selecciona "Otra") -->
<div class="mb-3" id="universidad-otra-container" style="display: none;">
    <label for="universidad_otra" class="form-label">Especifique la Universidad</label>
    <input type="text" class="form-control" id="universidad_otra" name="universidad_otra">
</div>

<script>
    // Obtener referencias a los elementos del DOM
    var paisSelect = document.getElementById('pais');
    var universidadContainer = document.getElementById('universidad-container');
    var universidadSelect = document.getElementById('universidad');
    var universidadOtraContainer = document.getElementById('universidad-otra-container');

    // Evento que se dispara al cambiar el país
    paisSelect.addEventListener('change', function() {
        if (this.value === 'Peru') {
            // Mostrar lista de universidades peruanas
            universidadContainer.style.display = 'block';
            universidadSelect.required = true;
            universidadOtraContainer.style.display = 'none';
            universidadOtraContainer.querySelector('input').required = false;
        } else {
            // Ocultar lista de universidades y mostrar campo para ingresar manualmente
            universidadContainer.style.display = 'none';
            universidadSelect.required = false;
            universidadOtraContainer.style.display = 'block';
            universidadOtraContainer.querySelector('input').required = true;
        }
    });

    // Evento que se dispara al cambiar la universidad
    universidadSelect.addEventListener('change', function() {
        if (this.value === 'Otra') {
            // Mostrar campo para ingresar universidad manualmente
            universidadOtraContainer.style.display = 'block';
            universidadOtraContainer.querySelector('input').required = true;
        } else {
            // Ocultar campo para ingresar universidad manualmente
            universidadOtraContainer.style.display = 'none';
            universidadOtraContainer.querySelector('input').required = false;
        }
    });
</script>


        
        <div class="mb-3">
            <label for="fecha_expedicion" class="form-label">Fecha de Expedición</label>
            <input type="date" class="form-control" id="fecha_expedicion" name="fecha_expedicion" value="{{ titulo[7] }}" required>
        </div>
        <div class="mb-3">
            <label for="archivo" class="form-label">Adjuntar Nuevo Archivo (imagen o PDF, opcional)</label>
            <input type="file" class="form-control" id="archivo" name="archivo" accept="image/*,.pdf" onchange="previewFile(event)">
            
            {% if imagen_actual %}
                <small class="form-text text-muted">
                    Archivo actual (ID: {{ titulo[8] }}):
                    {% if imagen_actual.endswith('.pdf') %}
                        <a href="{{ url_for('uploaded_file', filename=imagen_actual) }}" target="_blank">Ver PDF</a>
                    {% else %}
                        <img src="{{ url_for('uploaded_file', filename=imagen_actual) }}" alt="Archivo actual" class="img-fluid" style="max-width: 200px;">
                    {% endif %}
                </small>
            {% else %}
                <small class="form-text text-muted">No hay archivo actual.</small>
            {% endif %}
        </div>

        <div class="mb-3 text-center" id="preview-container" style="display:none;">
            <label for="preview" class="form-label">Previsualización de Nuevo Archivo:</label>
            <img id="preview-image" src="#" alt="Previsualización de Nueva Imagen" class="img-fluid" style="max-width: 200px; display: none;">
            <a id="preview-pdf" href="#" target="_blank" style="display: none;">Ver PDF</a>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>

<script>
function previewFile(event) {
    const previewImage = document.getElementById('preview-image');
    const previewPdf = document.getElementById('preview-pdf');
    const previewContainer = document.getElementById('preview-container');
    const file = event.target.files[0];
    
    if (file) {
        const fileType = file.type;
        if (fileType.includes('image')) {
            const reader = new FileReader();
            reader.onload = function(e) {
                previewImage.src = e.target.result;
                previewImage.style.display = 'block';
                previewPdf.style.display = 'none';
                previewContainer.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else if (fileType === 'application/pdf') {
            const fileURL = URL.createObjectURL(file);
            previewPdf.href = fileURL;
            previewPdf.style.display = 'block';
            previewImage.style.display = 'none';
            previewContainer.style.display = 'block';
        }
    } else {
        previewContainer.style.display = 'none'; // Ocultar si no hay archivo
    }
}
</script>

{% endblock %}
