<!-- src/templates/editar_softwareespecializado.html -->

{% extends 'base.html' %}

{% block title %}Editar Software Especializado{% endblock %}

{% block customCSS %}
<!-- CSS específico para la página de inicio -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Formularios.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-5 pt-5">
    <h1 class="h3 mb-4 text-center">Editar Software Especializado</h1>

    <!-- Formulario para editar un software especializado -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.nombre_curso.label(class="form-label") }}
            {{ form.nombre_curso(class="form-control") }}
            {% for error in form.nombre_curso.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.modalidad.label(class="form-label") }}
            {{ form.modalidad(class="form-select") }}
            {% for error in form.modalidad.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.horas.label(class="form-label") }}
            {{ form.horas(class="form-control") }}
            {% for error in form.horas.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Campo 'Tipo de Institución' -->
        <div class="mb-3">
            {{ form.institucion.label(class="form-label") }}
            {{ form.institucion(class="form-select", id="institucion") }}
            {% for error in form.institucion.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Campo 'Nombre de la Institución' -->
        <div class="mb-3">
            {{ form.nombre_institucion.label(class="form-label") }}
            {{ form.nombre_institucion(class="form-control", id="nombre_institucion") }}
            {% for error in form.nombre_institucion.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Campo '¿Fue en una de las 1000 mejores universidades del mundo?' -->
        <div class="mb-3 form-check">
            {{ form.top_1000(class="form-check-input", id="top_1000") }}
            {{ form.top_1000.label(class="form-check-label") }}
            {% for error in form.top_1000.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.fecha.label(class="form-label") }}
            {{ form.fecha(class="form-control") }}
            {% for error in form.fecha.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.archivo.label(class="form-label") }}
            {{ form.archivo(class="form-control", id="archivo") }}
            {% for error in form.archivo.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        {% if software.id_imagen %}
        <div class="mb-3">
            <label class="form-label">Archivo Actual:</label><br>
            {% if software.categoria == 'imagen' %}
                <img src="{{ url_for('uploaded_file', filename=software.ruta_imagen) }}" alt="Imagen Actual" style="max-width: 200px;">
            {% elif software.categoria == 'pdf' %}
                <a href="{{ url_for('uploaded_file', filename=software.ruta_imagen) }}" target="_blank">Ver PDF</a>
            {% endif %}
        </div>
        {% endif %}

        <div class="mb-3" id="preview-container" style="display:none;">
            <label class="form-label">Previsualización de Archivos:</label><br>
            <div id="preview-files"></div>
        </div>

        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('softwareespecializado') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>


<!-- Script para manejar la habilitación del campo 'top_1000' -->
<script type="text/javascript">
    function toggleTop1000() {
        const institucion = document.getElementById('institucion');
        const top1000 = document.getElementById('top_1000');

        if (institucion.value === 'Universidad') {
            top1000.disabled = false;
        } else {
            top1000.checked = false;
            top1000.disabled = true;
        }
    }

    // Ejecutar al cargar la página
    window.onload = function() {
        toggleTop1000();
    };

    // Asignar el evento onchange al campo 'institucion'
    document.getElementById('institucion').addEventListener('change', toggleTop1000);
</script>

<!-- Script para manejar la previsualización de archivos -->
<script type="text/javascript">
    function previewFiles(event) {
        const previewContainer = document.getElementById('preview-container');
        const previewFiles = document.getElementById('preview-files');
        const files = event.target.files;
        
        previewFiles.innerHTML = '';
        if (files.length > 0) {
            previewContainer.style.display = 'block';
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const fileType = file.type;
                if (fileType.includes('image')) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = 'Previsualización de Imagen';
                        img.classList.add('img-fluid');
                        img.style.maxWidth = '300px';
                        img.style.marginBottom = '10px';
                        previewFiles.appendChild(img);
                    }
                    reader.readAsDataURL(file);
                } else if (fileType === 'application/pdf') {
                    const fileURL = URL.createObjectURL(file);
                    const link = document.createElement('a');
                    link.href = fileURL;
                    link.target = '_blank';
                    link.textContent = 'Ver PDF';
                    link.style.display = 'block';
                    link.style.marginBottom = '10px';
                    previewFiles.appendChild(link);
                }
            }
        } else {
            previewContainer.style.display = 'none'; // Ocultar si no hay archivo
        }
    }

    // Ejecutar al cargar la página
    window.onload = function() {
        toggleFields();
    };

    // Asignar el evento onchange al campo 'institucion'
    document.getElementById('institucion').addEventListener('change', toggleFields);
</script>

{% endblock %}