<select class="form-select" id="universidad" name="universidad">
    <option value="">Seleccione una universidad</option>
    <option value="Universidad Nacional del Altiplano">Universidad Nacional del Altiplano</option>
    <option value="Universidad Peruana del Centro">Universidad Peruana del Centro</option>
    <option value="Universidad Nacional Ciro Alegría">Universidad Nacional Ciro Alegría</option>
    <option value="Universidad Nacional Pedro Ruiz Gallo">Universidad Nacional Pedro Ruiz Gallo</option>
    <option value="Universidad Nacional San Luis Gonzaga">Universidad Nacional San Luis Gonzaga</option>
    <option value="Universidad Autónoma de Ica">Universidad Autónoma de Ica</option>
    <option value="Facultad de Teología Pontificia y Civil de Lima">Facultad de Teología Pontificia y Civil de Lima</option>
    <option value="Universidad Nacional Federico Villarreal">Universidad Nacional Federico Villarreal</option>
    <option value="Universidad Tecnológica de los Andes">Universidad Tecnológica de los Andes</option>
    <option value="Universidad Peruana Los Andes">Universidad Peruana Los Andes</option>
    <option value="Universidad Nacional Micaela Bastidas de Apurímac">Universidad Nacional Micaela Bastidas de Apurímac</option>
    <option value="Universidad Nacional José Faustino Sánchez Carrión">Universidad Nacional José Faustino Sánchez Carrión</option>
    <option value="Universidad Señor de Sipán">Universidad Señor de Sipán</option>
    <option value="Universidad Nacional del Callao">Universidad Nacional del Callao</option>
    <option value="Universidad Nacional de Educación Enrique Guzmán y Valle">Universidad Nacional de Educación Enrique Guzmán y Valle</option>
    <option value="Universidad Privada Norbert Wiener">Universidad Privada Norbert Wiener</option>
    <option value="Universidad Nacional de Tumbes">Universidad Nacional de Tumbes</option>
    <option value="Universidad Privada San Juan Bautista">Universidad Privada San Juan Bautista</option>
    <option value="Universidad Nacional Amazónica de Madre de Dios">Universidad Nacional Amazónica de Madre de Dios</option>
    <option value="Universidad Nacional Agraria de la Selva">Universidad Nacional Agraria de la Selva</option>
    <option value="Universidad Nacional Daniel Alcides Carrión">Universidad Nacional Daniel Alcides Carrión</option>
    <option value="Universidad Privada Peruano Alemana">Universidad Privada Peruano Alemana</option>
    <option value="Universidad Nacional Hermilio Valdizán">Universidad Nacional Hermilio Valdizán</option>
    <option value="Universidad Nacional de Huancavelica">Universidad Nacional de Huancavelica</option>
    <option value="Universidad Nacional Intercultural de Quillabamba">Universidad Nacional Intercultural de Quillabamba</option>
    <option value="Universidad Tecnológica del Perú">Universidad Tecnológica del Perú</option>
    <option value="Universidad Privada de Huancayo Franklin Roosevelt">Universidad Privada de Huancayo Franklin Roosevelt</option>
    <option value="Universidad César Vallejo">Universidad César Vallejo</option>
    <option value="Universidad de Huánuco">Universidad de Huánuco</option>
    <option value="Universidad Nacional de Piura">Universidad Nacional de Piura</option>
    <option value="Universidad Nacional de San Antonio Abad del Cusco">Universidad Nacional de San Antonio Abad del Cusco</option>
    <option value="Universidad Nacional de San Martín">Universidad Nacional de San Martín</option>
    <option value="Universidad Nacional de Frontera">Universidad Nacional de Frontera</option>
    <option value="Universidad Nacional del Santa">Universidad Nacional del Santa</option>
    <option value="Universidad Nacional del Centro del Perú">Universidad Nacional del Centro del Perú</option>
    <option value="Universidad Católica de Trujillo Benedicto XVI">Universidad Católica de Trujillo Benedicto XVI</option>
    <option value="Universidad Nacional Autónoma de Tayacaja Daniel Hernández Morillo">Universidad Nacional Autónoma de Tayacaja Daniel Hernández Morillo</option>
    <option value="Universidad Nacional de la Amazonía Peruana">Universidad Nacional de la Amazonía Peruana</option>
    <option value="Universidad Nacional Santiago Antúnez de Mayolo">Universidad Nacional Santiago Antúnez de Mayolo</option>
    <option value="Universidad Nacional Autónoma de Chota">Universidad Nacional Autónoma de Chota</option>
    <option value="Universidad Le Cordon Bleu S.A.C.">Universidad Le Cordon Bleu S.A.C.</option>
    <option value="Universidad Nacional de Ucayali">Universidad Nacional de Ucayali</option>
    <option value="Universidad María Auxiliadora">Universidad María Auxiliadora</option>
    <option value="Universidad Nacional Autónoma Altoandina de Tarma">Universidad Nacional Autónoma Altoandina de Tarma</option>
    <option value="Universidad Nacional Intercultural de la Amazonia">Universidad Nacional Intercultural de la Amazonia</option>
    <option value="Universidad Nacional de Trujillo">Universidad Nacional de Trujillo</option>
    <option value="Universidad Católica Sedes Sapientiae">Universidad Católica Sedes Sapientiae</option>
    <option value="Universidad Nacional de Cañete">Universidad Nacional de Cañete</option>
    <option value="Universidad Nacional de San Agustín">Universidad Nacional de San Agustín</option>
    <option value="Universidad Nacional de Juliaca">Universidad Nacional de Juliaca</option>
    <option value="Universidad Nacional Intercultural Fabiola Salazar Leguía de Bagua">Universidad Nacional Intercultural Fabiola Salazar Leguía de Bagua</option>
    <option value="Universidad Continental">Universidad Continental</option>
    <option value="Universidad Autónoma del Perú">Universidad Autónoma del Perú</option>
    <option value="Universidad Nacional de Cajamarca">Universidad Nacional de Cajamarca</option>
    <option value="Universidad Nacional Autónoma de Alto Amazonas">Universidad Nacional Autónoma de Alto Amazonas</option>
    <option value="Universidad Nacional Tecnológica De Lima Sur">Universidad Nacional Tecnológica De Lima Sur</option>
    <option value="Universidad Jaime Bausate y Meza">Universidad Jaime Bausate y Meza</option>
    <option value="Universidad Nacional Jorge Basadre Grohmann">Universidad Nacional Jorge Basadre Grohmann</option>
    <option value="Universidad Peruana Unión">Universidad Peruana Unión</option>
    <option value="Universidad Nacional de San Cristóbal de Huamanga">Universidad Nacional de San Cristóbal de Huamanga</option>
    <option value="Universidad Nacional de Barranca">Universidad Nacional de Barranca</option>
    <option value="Universidad Científica del Sur">Universidad Científica del Sur</option>
    <option value="Universidad ESAN">Universidad ESAN</option>
    <option value="Universidad Nacional Mayor de San Marcos">Universidad Nacional Mayor de San Marcos</option>
    <option value="Universidad Privada Antenor Orrego">Universidad Privada Antenor Orrego</option>
    <option value="Universidad Nacional Intercultural de la Selva Central Juan Santos Atahualpa">Universidad Nacional Intercultural de la Selva Central Juan Santos Atahualpa</option>
    <option value="Universidad Católica Santo Toribio de Mogrovejo">Universidad Católica Santo Toribio de Mogrovejo</option>
    <option value="Universidad La Salle">Universidad La Salle</option>
    <option value="Universidad Nacional de Jaén">Universidad Nacional de Jaén</option>
    <option value="Universidad Nacional de Moquegua">Universidad Nacional de Moquegua</option>
    <option value="Universidad Católica de Santa María">Universidad Católica de Santa María</option>

    <option value="Universidad Andina del Cusco">Universidad Andina del Cusco</option>
    <option value="Universidad Privada de Tacna">Universidad Privada de Tacna</option>
    <option value="Universidad Nacional de Ingeniería">Universidad Nacional de Ingeniería</option>
    <option value="Universidad de Ciencias y Humanidades">Universidad de Ciencias y Humanidades</option>
    <option value="Universidad Privada del Norte">Universidad Privada del Norte</option>
    <option value="Universidad Católica San Pablo">Universidad Católica San Pablo</option>
    <option value="Universidad Marcelino Champagnat">Universidad Marcelino Champagnat</option>
    <option value="Universidad San Ignacio de Loyola">Universidad San Ignacio de Loyola</option>
    <option value="Universidad Peruana de Ciencias Aplicadas">Universidad Peruana de Ciencias Aplicadas</option>
    <option value="Universidad Nacional José María Arguedas">Universidad Nacional José María Arguedas</option>
    <option value="Universidad Nacional Toribio Rodríguez de Mendoza de Amazonas">Universidad Nacional Toribio Rodríguez de Mendoza de Amazonas</option>
    <option value="Universidad de San Martín de Porres">Universidad de San Martín de Porres</option>
    <option value="Universidad Antonio Ruiz de Montoya">Universidad Antonio Ruiz de Montoya</option>
    <option value="Universidad Nacional Autónoma de Huanta">Universidad Nacional Autónoma de Huanta</option>
    <option value="Universidad Nacional Agraria La Molina">Universidad Nacional Agraria La Molina</option>
    <option value="Universidad de Piura">Universidad de Piura</option>
    <option value="Universidad Ricardo Palma">Universidad Ricardo Palma</option>
    <option value="Universidad Femenina del Sagrado Corazón">Universidad Femenina del Sagrado Corazón</option>
    <option value="Universidad de Ciencias y Artes de América Latina">Universidad de Ciencias y Artes de América Latina</option>
    <option value="Universidad para el Desarrollo Andino">Universidad para el Desarrollo Andino</option>
    <option value="Universidad Peruana Cayetano Heredia">Universidad Peruana Cayetano Heredia</option>
    <option value="Universidad del Pacífico">Universidad del Pacífico</option>
    <option value="Universidad de Lima">Universidad de Lima</option>
    <option value="Pontificia Universidad Católica del Perú">Pontificia Universidad Católica del Perú</option>
    <option value="Universidad de Ingeniería y Tecnología">Universidad de Ingeniería y Tecnología</option>
    <option value="Otra">Otra</option>
</select>
