/* change_password.css */

/* Usando las mismas variables de color que navbar.css */
:root {
    --navbar-bg: #0F827F; /* Fondo de la barra de navegación */
    --navbar-text: #ffffff; /* Texto de la barra de navegación */
    --link-hover: #0c6a6a; /* Color de los enlaces al pasar el cursor */
}

/* Ajuste del contenedor principal */
.container {
    max-width: 600px;
    margin: 5% auto; /* Centrar horizontalmente y añadir espacio vertical */
    padding: 20px;
    background-color: var(--navbar-bg); /* Fondo similar al navbar */
    border-radius: 10px;
    text-align: center; /* Centrar el contenido */
}

/* Título */
h1 {
    font-family: 'ITC Avant Garde LT Extra Bold', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
    color: var(--navbar-text); /* Texto similar al navbar */
}

/* Sección del formulario */
.form-section {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo con transparencia */
    padding: 30px;
    border-radius: 8px;
    text-align: left; /* Alinear a la izquierda para una mejor legibilidad */
}

/* Grupo de formularios */
.form-group {
    margin-bottom: 20px;
    text-align: left; /* Alinear a la izquierda las etiquetas y campos de entrada */
}

.form-group label {
    display: block;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    margin-bottom: 5px;
    color: var(--navbar-text); /* Texto similar al navbar */
}

.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

/* Botón de envío */
.btn-submit {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--link-hover); /* Color similar al hover de navbar */
    color: var(--navbar-text);
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: #094747; /* Color más oscuro para el hover */
}

/* Estilos para las alertas */
.alert {
    margin-bottom: 20px;
    background-color: var(--link-hover);
    color: var(--navbar-text);
    padding: 15px;
    border-radius: 5px;
}

/* Retroalimentación de la contraseña */
#password_feedback p {
    color: var(--navbar-text);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    text-align: left;
}
